fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

input[type="checkbox"] + label {
  display: block;
}
input[type="checkbox"] + label:before {
  display: inline-block;
  content: " ";
  margin-right: 5px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: 16px auto;
  background-size: 16px auto;
  vertical-align: top;
}

input[type="checkbox"] + label:before {
  background-image: url(../images/check.png);
  background-position: left top;
}

input[type="checkbox"]:checked + label:before {
  background-position: left bottom;
}

.container {
  margin: 10px;
}
.csstransitions .container {
  -webkit-transition-property: margin;
  transition-property: margin;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
}

.form__multipleselector {
  border: 1px solid #999;
}
.form__multipleselector .form__multipleselector-choices {
  position: relative;
  padding: 10px 35px 10px 10px;
  min-height: 1.6em;
  cursor: pointer;
}
.form__multipleselector .form__multipleselector-choices:after {
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  border-width: 3px 3px 0 0;
  border-style: solid;
  border-color: #555;
  width: 5px;
  height: 5px;
  content: " ";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form__multipleselector .form__multipleselector-item {
  display: inline-block;
  margin: 2px 5px 2px 0;
  padding: 5px;
  border-radius: 3px;
  background-color: green;
  color: #fff;
}

.multipleselect {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px 0;
  border-top: 8px solid #555;
  width: 100%;
}
.csstransitions .multipleselect {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.multipleselect.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.multipleselect ul {
  padding: 0;
  border-bottom: 1px solid #999999;
}
.multipleselect li {
  position: relative;
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: #999999;
  list-style: none;
  line-height: 1;
}
.multipleselect label {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}
.multipleselect input:checked + label {
  background-color: #fceec9;
}

body {
  height: 1500px;
}

#field_cities {
  margin-top: 300px;
}
